<section>
  <div class="text-gray-600 my-5 text-center w-1/2 m-auto">
    <h1 class="text-xl text-center mb-3 font-bold my-6">ABOUT</h1>
    <h2 class="text-xl text-center mb-3 font-bold mt-3">What is  Ruby Lens</h2>
    <p>Ruby Lens is a simple web scraping app built on Ruby on Rails and the Nokogiri Gem.
     It aggregates Ruby/Rails job postings from various sites on the web to ease your job search process. 

     At the moment, we include these sites: 
     <ul class="text- ">
       <% @job_sites.each do |site| %>
         <li> 
            <a 
              href="<%= site.url %>" 
              class="text-blue-400"
              target="_blank"
            > 
              <%= site.name %> 
            </a>
         </li>
       <%end%>
     </ul> 
    </p>
    <br/>
    <p class="font-bold">Fork the repo or contribute here: <a target="_blank" href="https://github.com/Fh-Ndiritu/RubyLens" class="text-blue-400"> RubyLens on Github</a> </p>
    
    <h2 class="text-xl text-center mb-3 font-bold mt-6">About me</h2>
    <p>Hey fellow Rubyist! My name is Francis Huria (FH), I am a Ruby on Rails developer. 
    I developed this site to help fellow developers find Ruby jobs easily, from my experience, keeping track of job postings can be a hassle, getting quality postings is even harder.
    This site collects postings from sites trusted by the rails community. When making an application, you are sure these companies are hiring and serious about it. </p>

    <p class="font-bold">Now go make that application!<p>
    <br/>
    <a href="https://www.linkedin.com/in/francis-karuri" target="_blank" class="text-blue-400">Follow me on LinkedIn </a> 
    <br/>
    <a href="https://twitter.com/fh_ndiritu" target="_blank" class="text-blue-400"> Follow me on Twitter </a>

  </div>
</section>
